[build]
  command = "npm run build"
  publish = "build"

[build.environment]
  REACT_APP_SITE_NAME = "Katisa Technologies"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "no-referrer-when-downgrade"
    Content-Security-Policy = "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://assets.calendly.com; style-src 'self' 'unsafe-inline' https://assets.calendly.com; img-src 'self' data: https:; font-src 'self' data:; connect-src 'self' https:; frame-src https://calendly.com https://*.calendly.com;"
    
    # Custom metadata to override default React App metadata
    cache-control = '''
    max-age=0,
    no-cache,
    no-store,
    must-revalidate'''

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
